@model HotelFiesta.Models.Reserva

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Habitacion.NumeroHabitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habitacion.NumeroHabitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentoCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentoCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEntrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
